
# Grand Questions:
1. How does your name at your birth year compare to its use historically?
2. If you talked to someone named Brittany on the phone, what is your guess of their age? What ages would you not guess?
3. Mary, Martha, Peter, and Paul are all Christian names. From 1920 - 2000, compare the name usage of each of the four names.
4. Think of a unique name from a famous movie. Plot that name and see how increases line up with the movie release.

In [1]:
# Imports
import altair as alt
import numpy as np
import pandas as pd

## 1. How does your name at your birth year compare to its use historically?

In [2]:
# Read in data
url = 'https://github.com/byuidatascience/data4names/raw/master/data-raw/names_year/names_year.csv'
names = pd.read_csv(url)

In [3]:
names.head()
names.year = pd.to_datetime(names.year, format='%Y')
names_agg = names.groupby('name')
names_agg.head()
my_name = names.query("name == 'Isabel'")
my_name.head()

,name,year,AK,AL,AR,AZ,CA,CO,CT,DC,...,TN,TX,UT,VA,VT,WA,WI,WV,WY,Total
168720,Isabel,1910-01-01,0.0,0.0,0.0,12.0,20.0,0.0,6.0,0.0,...,0.0,23.0,0.0,8.0,0.0,0.0,8.0,0.0,0.0,314.0
168721,Isabel,1911-01-01,0.0,0.0,5.0,0.0,20.0,7.0,6.0,0.0,...,0.0,24.0,0.0,0.0,0.0,0.0,5.0,0.0,0.0,376.0
168722,Isabel,1912-01-01,0.0,0.0,0.0,0.0,42.0,9.0,5.0,0.0,...,5.0,29.0,0.0,12.0,0.0,0.0,14.0,0.0,0.0,499.0
168723,Isabel,1913-01-01,0.0,7.0,0.0,11.0,35.0,6.0,11.0,0.0,...,0.0,62.0,0.0,10.0,0.0,0.0,23.0,0.0,0.0,607.0
168724,Isabel,1914-01-01,0.0,0.0,0.0,12.0,31.0,5.0,7.0,0.0,...,0.0,30.5,0.0,10.0,0.0,8.0,17.0,8.0,0.0,691.5

In [4]:
isabel_chart = (alt.Chart(my_name, title="Popularity")
    .encode(
        alt.X('year(year):T', title = "Year"),
        alt.Y('Total:Q',title="Number of Names")
    )
    .mark_line().properties(width=600,height=350)
)

In [5]:
my_year = pd.DataFrame({
    'year' : [2001],
    'Total' : [my_name.query("year == 2001").Total.values[0]],
    'label' : ["Birth Year"]})
    
my_year.Total = my_year.Total.astype("int64",copy=True)
my_year.year = pd.to_datetime(my_year.year,format='%Y')

In [6]:
text_overlay = (alt.Chart(my_year).mark_text(align='right',dy=-10,baseline='middle')
    .encode
    (
        x = alt.X('year'),
        y = alt.Y('Total:Q'),
        text = 'label'
    )
)

In [7]:
my_point = (alt.Chart(my_year).mark_circle(color = 'red')
    .encode
    (
        x = alt.X('year'),
        y = alt.Y('Total:Q')
    )
)

In [8]:
isabel_point = isabel_chart  + text_overlay + my_point
isabel_point.save("my_point.png")

![](my_point.png)

## 2. If you talked to someone named Brittany on the phone, what is your guess of their age? What ages would you not guess?

In [ ]:
brit = names.query("name == 'Brittany'")
brit_std = pd.DataFrame({
    'year' : [brit.year.median() + (brit.year.std()),brit.year.median() - (brit.year.std()),brit.year.median()],
    'color' : ['red','green','red'],
    'text' : ["Not Guess Range","Not Guess Range","Guess Range"],
    'y' : [15000] * 3
})

## 3. Mary, Martha, Peter, and Paul are all Christian names. From 1920 - 2000, compare the name usage of each of the four names.

In [ ]:
# Subset the data
mmpp = names.query('name in ["Mary","Martha","Peter","Paul"] & year > 1919 & year < 2020')

In [ ]:
# Chart the subset
mmpp_chart = (alt.Chart(mmpp, title='Q3. Mary, Martha, Peter & Paul by Year')
              .encode(
                  alt.X('year:T', title="Year"), 
                  alt.Y('Total:Q',title="Number of Names"),
                  color = 'name')
              .mark_line()).properties(width=600,height=350)
            
mmpp_chart.save('mmpp_chart_2.png')
# %%

![](mmpp_chart_2.png)

## 4. Think of a unique name from a famous movie. Plot that name and see how increases line up with the movie release.

In [ ]:
twilight_bella = names.query('name == "Bella" & year >= 2007 & year <= 2015') # From the Titanic in 1997
twilight_bella_chart = (alt.Chart(twilight_bella).encode(x='year:O', y='Total').mark_line().properties(title="Q4. Bella Swan from Twilight")) # Build chart
twilight_bella_chart.save('twilight_bella_chart.png') # Save chart

![](twilight_bella_chart.png)